.postsBlock {
    padding: 10px;
}

.postsBlock h3 {
    color: blue;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.posts {
    margin-top: 10px;
}

.newPostBlock {
    text-align: right;
    color: blue;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.newPostBlock textarea {
    width: 100%;
    height: 100px;
    border-radius: 10px;
}

.newPostBlock button {
    margin-top: 5px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}