.nav {
    grid-area: n;
    /* background-color: aquamarine; */
    /* padding-left: 1rem; */
    padding-right: 1rem;
    width: 10rem;
}

.item {
    padding-bottom: 12px;
}

.item a {
    color:blue;
    text-decoration: none;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.item a.active {
    color: black;
}
  