.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    /* border: 1px solid;  */
}

.dialogItems {
    width: 300px;
    background-color:cadetblue;
    border-radius: 7px;
    
}

.dialogItems .active {
    color: white;
}

.messages {
    padding: 10px;
}